#footer{
    background: #839192;
    color: white;
}
#footer a, footer h5, #footerDivider a{
    color:white;
    text-decoration: none;
}
#footerDivider{
    background:  #212F3D;
    color:white;
}
#main img{
    max-height: 60vh;
    object-fit: cover;
    filter: grayscale(60%);
}
#tienda img{
    filter: grayscale(60%);
}
#carousel{
    max-height: 60vh;
    object-fit: cover;
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom:  0;
    left: 0;
    right: 0;
    color:white;
    background-color: rgba(0,0,0, 0.5);
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}
.btn-criminalistica{
    background-color: #283747;
    color:white;
}
.btn-criminalistica:haver{
    background-color: #34495E;
    color:white;
}
#blog{
    background: #212529;
    color:white;
}

#blog img{
    max-width: 100%;
}
#footer{
    background: #212529;
    color:white;
    text-decoration: none;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #1A5276;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: #1A5276;
}